<% if flash[:alert] %>
  <aside class="w-80 p-5 border-2 border-gray-700 text-gray-700"><%= flash[:alert] %></aside>
<% end %>

<%= form_tag do %>
  <h2 class="text-2xl">Login:</h2>
  <div class="w-80 space-y-3">
    <div class="field">
      <%= label_tag :email, 'Email:', class: 'text-gray-700' %>
      <div>
        <%= text_field_tag :email, 
            params[:name], 
            class: 'w-80 border-gray-800 rounded-lg' %>
      </div>
    </div>
    
    <div class="field">
      <%= label_tag :password, 'Password:', class: 'text-gray-700' %>
      <div>
        <%= password_field_tag :password, 
            params[:password], 
            class: 'w-80 border-gray-800 rounded-lg' %>
      </div>
    </div>

    <div class="actions">
      <%= submit_tag "Login", class: 'btn-indigo' %>
    </div>
  </div>
<% end %>
<%= link_to 'Create User', :controller => 'users', action: 'new' %>
