<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :email %>
    <div class="text-gray-800 rounded">
      <%= form.text_field :email, class: "p-1 w-80 rounded"  %>
    </div>
  </div>

  <div>
    <%= form.label :password %>
    <div class="text-gray-800 rounded">
      <%= form.password_field :password, class: "p-1 w-80 rounded"  %>
    </div>
  </div>

  <div>
    <%= form.label :password_confirmation %>
    <div class="text-gray-800 rounded">
      <%= form.password_field :password_confirmation, class: "p-1 w-80 rounded" %>
    </div>
  </div>

  <div class="py-2">
    <%= form.submit class: "border-2 rounded border-gray-200 py-1 px-2 bg-gray-200 text-gray-800 hover:bg-gray-300" %>
  </div>
<% end %>
