<div class="container w-max m-5 p-5 bg-gray-800 text-gray-200 border-2 border-gray-800 rounded">
  <p id="notice"><%= notice %></p>

  <p>
    <strong class="text-3xl"> <%= @event.title %></strong>
  </p>

  <p>
    <%= @event.description %>
  </p>

  <p>
    <strong>From:</strong>
    <%= @event.from_date %>
  </p>

  <p>
    <strong>To:</strong>
    <%= @event.to_date %>
  </p>

  <br> 
  <p>
    <strong>Attendees:</strong>
    <% @event.attendees.each do |attendee| %>
      <p><%= link_to attendee.user.email, profile_path(id: attendee.user.id), class: "hover:underline"%></p>
    <% end %>
  </p>
</div>
